@font-face {
    font-family: "Luckiest Guy";
    src: url('../assets/fonts/LuckiestGuy-Regular.ttf');
}

@font-face {
    font-family: "Fredoka";
    src: url('../assets/fonts/Fredoka-VariableFont_wdth\,wght.ttf');
}

body {
    margin: 0;
    height: 100vh;
    height: 100dvh;
    background-image: url('../assets/images/tablecloth_gray.jpg');
}

button {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.screen.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
}

.hidden {
    display: none;
}

h1.game-title {
    font-family: "Luckiest Guy";
    font-size: 100px;
    margin: 0;
    color: #3d280d;
}

#screen-title {
    gap: 100px;
}

.selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.selection button {
    font-family: "Fredoka";
    font-size: 50px;
    font-weight: bold;
    border: 3px black solid;
    border-radius: 9999px;
    padding: 5px 50px;
    background: orange;
}

.selection button:hover {
    background: green;
    color: white;
}

#screen-game-setup {
    position: relative;
}

#screen-game-setup .back-button-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

#screen-game-setup .how-to-play-button-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

#screen-game-setup .start-button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#screen-game-setup-settings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100dvw;
    padding: 0 20px;
    border: solid black 2px;
    box-sizing: border-box;
}

fieldset {
    border: none;
    padding: 0;
}

#game-settings-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
    align-items: center;
}

#game-settings-container .game-settings-option {
    display: contents;
}